.FB{
    font-size: 40px;
    color: #1877F2;
}
.login{
    font-size: 40px;
}
.pic{
    font-size: 20px;
}
.click{
    color: #1877F2;
}
.box{
    width: 190px;
    height: 200px;
    border-radius: 5%;
    background-color: #878B94;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
.box2{
    width: 190px;
    height: 250px;
    border-radius: 5%;
    background-color:white;
    margin-top: 20px;
    text-align: center;
}
.a{
    font-size: 20px;
    margin-top: 10px;
}
.circle{
    width: 27px;
    height: 27px;
    border-radius:100%;
    background-color: red;
    text-align: center;
    /* margin-top: -190px;
    margin-left: 170px; */
}
.three{
    font-size: 20px;
    color: white;

}
.box3{
    width: 190px;
    height: 250px;
    border-radius: 5%;
    background-color:white;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.account{
    font-size: 20px;
    color: #0000FF;
    /* margin-top: 100px; */

}
.container{
    display: flex;
}
.circle3{
    width: 60px;
    height: 60px;
    border-radius:100%;
    background-color:#1877F2;
    margin-top: 75px;
    margin-left: 60px; 
    align-items: center;
    margin-bottom: 70px;
}
.header{
    width: 190px;
    display: flex;
    justify-content: space-between;
    margin-top: -220px;
}
.circle2{
    width: 20px;
    height: 20px;
    border-radius:100%;
    background-color: #454647;
    text-align: center;
    margin-top: 8px;
    margin-left: 5px;
}
.box4{
    width: 380px;
    height: 350px;
    border-radius: 5%;
    background-color:white;
    margin-left: 250px; 
    margin-top: -38px;
    text-align: center;
}
.create{
    margin-top: 420px;
}
.email{
    width: 340px;
    height: 37px;
    border: 1px solid rgb(130, 110, 110);
    border-radius: 5%;
    margin-top: 15px;
    background-color: rgb(243, 250, 250);
    padding-left: 10px;
}
a{
    text-decoration: none;
}
.password{
    width: 340px;
    height: 37px;
    border: 1px solid rgb(130, 110, 110);
    border-radius: 5%;
    margin-top: 40px;
    background-color: rgb(243, 250, 250);
    padding-left: 10px;
}
.log{
    width: 360px;
    height: 37px;
    border-radius: 5%;
    margin-top: 40px;
    background-color: #0000FF;
    color: white;
    font-size: 17px;
    border: none;
    margin-bottom: 20px;
    
}
.forgot{
    font-size: 20px;
    color: #0000FF;
}
.create{
    width: 200px;
    height: 37px;
    border-radius: 5%;
    margin-top: 40px;
    background-color: rgb(37, 241, 37);
    color: white;
    font-size: 17px;
    border: none; 
}
.page{
    font-size: 15px;
    margin-top: 35px;
}
.general{
    margin-left: 150px;
    margin-top: 70px;
}