.check1{color: rgb(139, 46, 77);
    font-size: 50px;
    }
.check2{color: rgb(22, 29, 139);
    font-size: 50px;
    }
#check3{color: hotpink;
    font-size: 50px;}
#check4{color: lawngreen;
    font-size: 50px;}